<section class="relative overflow-hidden py-20 lg:py-32" id="inicio">
  <div class="grid lg:grid-cols-2 gap-12 items-center">
    <div class="flex flex-col gap-8">
      <p class="bg-red-300">
        <b>
          Este sitio se encuentra en construcci칩n 游뚾 Alguna informaci칩n puede no
          ser correcta.
        </b>
      </p>

      <div
        class="inline-flex items-center gap-2 px-3 py-1 rounded-full bg-primary/10 textPrincipal text-xs font-bold uppercase tracking-wider w-fit"
      >
        <span class="relative flex h-2 w-2">
          <span
            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-primary opacity-75"
          ></span>
          <span class="relative inline-flex rounded-full h-2 w-2 bg-primary"
          ></span>
        </span>
        Confianza y Precisi칩n
      </div>
      <h1
        class="text-5xl lg:text-7xl font-extrabold tracking-tight leading-[1.1] text-textBlue"
      >
        Excelencia Contable de <span class="text-primary">Vanguardia</span>
      </h1>
      <p class="text-lg text-textPrincipal max-w-lg leading-relaxed">
        Brindamos soluciones financieras estrat칠gicas con un enfoque minimalista
        y profesional. Protegemos su patrimonio con el rigor que usted y su
        negocio merece.
      </p>
      <div class="flex flex-wrap gap-4">
        <a
          class="bg-primary text-white px-8 py-4 rounded-xl font-bold hover:scale-[1.02] transition-transform shadow-lg shadow-primary/30 text-center"
          href="#servicios"
        >
          Ver Servicios
        </a>
        <a
          class="border border-slate-200 px-8 py-4 rounded-xl font-bold hover:bg-white transition-colors text-center"
          href="#contacto"
        >
          Contactar Ahora
        </a>
      </div>
    </div>
    <div class="relative">
      <div
        class="aspect-square rounded-3xl overflow-hidden shadow-2xl bg-slate-200"
        style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuAmiJB5gh1TC0ELb8mlip3qu7A-aTwNytd-AQoxmS1KPIxv-RtmxSO87d5Q8hvGSMErYDCF72Evixsk7hmlhMCLSN_iTE3EMDqYpkfmYkXnZlTpjWHByqGUj5yPZXrovqki-SCAIUSLSfvPpLhfYdOmcxGlpEjeK3Mv5pNw6zctBRxnOGL9vMDIWy53qyUdqVLptvCOvX3kQjoTBFGVnT5m28nONEFSWVrNhRVrL1_dzMSBw1XcgqtCj4Z_6PcQvQVrx9I9KTQ0ETjm'); background-size: cover; background-position: center;"
      >
      </div>
      <div
        class="absolute -bottom-6 -left-6 bg-white p-6 rounded-2xl shadow-xl border border-slate-100 hidden sm:block"
      >
        <div class="flex items-center gap-4">
          <div class="bg-primary/20 p-3 rounded-lg textPrincipal">
            <span class="material-symbols-outlined text-3xl">游낁</span>
          </div>
          <div>
            <p class="text-sm font-bold">15+ A침os</p>
            <p class="text-xs text-slate-500">De experiencia certificada</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
